.app-navbar {
  margin: 0%;
  background: var(--brand-gradient);
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  width: fit-content;
  font-size: 2rem;
  background-color: transparent;
  color: white;
  border: none;
  transition: background-color color 0.5s ease;
  padding: 0.5rem;
  &:hover {
    background-color: white;
    color: black;
  }
}

.nav-btn .create-btn {
  align-self: left;
  font-size: 2rem;
  background-color: transparent;
  color: white;
  border: none;
  transition: background-color color 0.5s ease;
  padding: 0.5rem;
}

.create-btn:hover {
  background-color: white;
  color: black;
}
