<input type="text" /><br />
@for (day of trainingDays; track $index; let id = $index;) {
<div class="training-day">
  <input
    class="day-name"
    (input)="updateDay(id, getValue($event))"
    [value]="day.name"
  />
  <table>
    <tr>
      <th>Excercise</th>
      <th>Sets</th>
      <th>Reps</th>
    </tr>
    @for (excercise of day.excercises; track $index; let ie = $index;) {
    <tr>
      <td>
        <input
          (input)="updateExcercise(id, ie, 'name', getValue($event))"
          [value]="excercise.name"
        />
      </td>
      <td>
        <input
          (input)="updateExcercise(id, ie, 'sets', getValue($event))"
          [value]="excercise.sets"
        />
      </td>
      <td>
        <input
          (input)="updateExcercise(id, ie, 'reps', getValue($event))"
          [value]="excercise.reps"
        />
      </td>
      <td><button (click)="removeExcercise(id, ie)">-</button></td>
    </tr>

    }
  </table>
  <div style="display: grid">
    <button (click)="addExcercise(id)">+ Add excercise</button>
  </div>
</div>
}
<div style="display: grid; margin-left: -40%">
  <button (click)="addDay()">+ Add day</button>
</div>
