<div class="training-day">
  <input type="text" /><br />
  @for (day of trainingDays; track $index) {
  {{ day.name }}
  <table>
    <tr>
      <th>Excercise</th>
      <th>Sets</th>
      <th>Reps</th>
    </tr>
    @for (excercise of day.excercises; track $index) {
    <tr>
      <td><input [value]="excercise.name"></td>
      <td><input [value]="excercise.sets"></td>
      <td><input [value]="excercise.reps"></td>
    </tr>
    }
  </table>
  }
  <button (click)="addDay()">Add day</button>
</div>
