button {
  margin-top: 0.5rem;
  font-size: 1rem;
  border: none;
  align-self: center;
}

.excercises {
  display: flex;
}

.excercise-component {
  font-size: 0.5rem;
  display: flex;
  background-color: var(--off-bg);
  width: fit-content;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.4rem;
}

.training-day {
  background-color: var(--off-bg);
  padding: 0.5rem;
  margin: 1rem;
  margin-right: 39.5%;
  border-radius: 0.3rem;
}

table {
  border-collapse: collapse;
  td,
  th {
    border: 0.15rem solid white;
  }
}

input {
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: transparent;
  margin-left: 0.5rem;
  border: none;
}

.day-name {
  text-align: left;
  font-size: 2.2rem;
  font-weight: bold;
  width: fit-content(25%);
}

textarea:focus,
input:focus {
  outline: none;
  text-decoration: underline;
}
div {
  justify-items: center;
}

.add-btn {
  padding: 0.4rem;
  border-radius: 0.3rem;
}

.del-btn {
  margin-top: 0;
  margin-left: 0.2rem;
  padding: 0rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 0.3rem;
}

.del-day-btn {
  font-size: 1.5rem;
  margin-top: 0;
  padding: 0rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 0.3rem;
}
