.excercise-component {
  font-size: 1.5rem;
  display: flex;
  background-color: var(--off-bg);
  width: fit-content;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  padding: 0.4rem;
}

input {
  text-align: center;
  color: white;
  background-color: transparent;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

input:focus {
  border: none;
  outline: none;
}

.name-selector {
  justify-self: left;
  margin-right: 1rem;
}

.editor-num-field {
  margin-right: 0.5rem;
  justify-self: right;
  border-radius: 0.2rem;
  border-width: 0;
  width: 2.5rem;
}
