@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
:root {
    --brand-gradient: linear-gradient(0.25turn, springgreen, lightcyan);
    --off-bg: #2c2c37;
    font-family: 'Overpass';
    background-color: #121212;
    color: white;
}